@import url("//hello.myfonts.net/count/3ca56e");
@keyframes bigLogo {
  0% {
    transform: translate(-50%, -50%) scale(1, 1); }
  100% {
    transform: translate(-110%, -110%) scale(0.2, 0.2); } }

@keyframes navVideo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes growScale {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 116em) {
    html {
      font-size: 55%; } }
  @media (max-width: 102em) {
    html {
      font-size: 50%; } }
  @media (max-width: 94em) {
    html {
      font-size: 45%; } }
  @media (max-width: 85em) {
    html {
      font-size: 40%; } }
  @media (max-width: 73em) {
    html {
      font-size: 35%; } }
  @media (max-width: 67em) {
    html {
      font-size: 30%; } }
  @media (max-width: 38em) {
    html {
      font-size: 20%; } }

a,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: inherit; }

::-webkit-scrollbar {
  width: 10px;
  background-color: #dec6b1; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dec6b1;
  border-radius: 5px; }

::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 5px; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff; }

::-webkit-scrollbar-corner {
  background-color: #505050; }

#index {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-template-columns: [borderl-start] minmax(6rem, 10rem) [borderl-end center-start] repeat(4, [col-start] 1fr [col-end]) [center-end borderr-start] minmax(6rem, 10rem) [borderr-end]; }

@font-face {
  font-family: "Town10Display-Regular";
  src: url("./webFonts/Town10Display-Regular/font.woff2") format("woff2"), url("./webFonts/Town10Display-Regular/font.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Town10Display-Light";
  src: url("./webFonts/Town10DisplayLight/font.woff2") format("woff2"), url("./webFonts/Town10DisplayLight/font.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem; }

h1 {
  font-family: 'Encode Sans SC', sans-serif;
  font-weight: 200;
  font-size: 10rem;
  margin: 0; }

h2 {
  font-family: 'Encode Sans SC', sans-serif;
  font-weight: 200;
  font-size: 6rem;
  margin: 0; }

h3 {
  font-family: 'Encode Sans SC', sans-serif;
  font-weight: 200;
  font-size: 4rem;
  margin: 0; }

h4 {
  font-family: 'Encode Sans SC', sans-serif;
  font-weight: 200;
  font-size: 2rem;
  margin: 0; }

h5 {
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  line-height: 30rem; }

p {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem; }

.adampower {
  font-family: 'Allura', cursive;
  font-size: 12rem; }

.welcome__text {
  font-family: "Poppins", sans-serif;
  font-size: 2rem; }

.title__webdev {
  font-size: 5rem;
  margin-top: -3rem; }

.footer__navigation {
  font-family: 'Encode Sans SC', sans-serif;
  font-weight: 200; }

.footer__copyright-text {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 300; }

.form__input-label {
  font-family: 'Encode Sans SC', sans-serif;
  letter-spacing: 2px;
  font-weight: 200; }

input {
  font-family: 'Poppins', sans-serif;
  font-size: 1.75rem;
  font-weight: 300;
  padding: 0.2rem; }

textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1.75rem;
  font-weight: 300; }

.contact__thanks {
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  font-weight: 300; }

.absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.margin-top-small {
  margin-top: 3rem !important; }

.margin-top-medium {
  margin-top: 6rem !important; }

.margin-top-large {
  margin-top: 12rem !important; }

.btn {
  border: none;
  font-family: 'Encode Sans SC', sans-serif;
  font-weight: 200;
  font-size: 4rem;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s; }
  .btn__primary {
    background-color: #dec6b1;
    color: #505050; }
    .btn__primary:hover {
      background-color: #505050;
      color: #dec6b1; }

.form__input-label {
  margin-top: 1.5rem; }

.form__text-area {
  width: 75rem;
  color: #dec6b1;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 62rem;
  border: none;
  padding: 0.5rem; }
  .form__text-area:focus {
    border: 3px solid #505050; }
  .form__text-area:active {
    border: 3px solid #505050; }

.form__submit {
  appearance: none;
  outline: 0;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  padding: 1rem 1.5rem;
  margin: 20px;
  margin-bottom: 1rem;
  margin-top: 40rem;
  color: #ffffff;
  height: 4.5rem;
  width: 15rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer; }
  .form__submit:hover {
    background-color: #707070; }
  .form__submit:active {
    transform: translate(1rem, 0rem) scale(0.9); }

input {
  color: #dec6b1;
  border: none; }

.react-share__ShareButton {
  margin: 1rem; }

.blog {
  background-color: #dec6b1;
  padding: 2rem;
  position: relative;
  top: -47rem;
  height: 200rem; }
  .blog__main {
    color: #505050;
    text-align: center; }
    .blog__main__heading-primary {
      text-align: center;
      margin-top: 15rem; }

.footer {
  height: 100vh;
  padding: 10rem 0;
  background-color: #dec6b1;
  color: #505050;
  text-align: center;
  position: relative; }
  .footer__logo-box {
    margin-bottom: 8rem; }
  .footer__logo {
    width: 30%; }
  .footer__navigation {
    border-top: 1px solid #505050;
    padding-top: 2rem;
    display: inline-block;
    margin-bottom: 4rem; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block;
    font-size: 3rem;
    margin: 2rem 7rem; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__copyright {
    margin: 8rem; }

.header {
  grid-column: borderl-start / borderr-end;
  height: 10rem;
  background-color: #dec6b1; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  border: 2px solid white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 1002;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(transparent, transparent);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.65, 0, 0.35, 1); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link {
  background-color: transparent;
  background-image: linear-gradient(-240deg, transparent 50%, transparent 50%, #ffffff 0%);
  background-size: 240%;
  border: 2px solid grey;
  border-radius: 3rem;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-block;
  font-family: "Town10Display-Regular";
  font-size: 3rem;
  font-weight: 400;
  padding: 1rem 2rem;
  margin: 0.5rem;
  margin-left: -1rem;
  margin-top: 5rem;
  width: 50rem;
  text-decoration: none;
  text-align: center;
  transition: all 0.4s; }
  .navigation__link-left1 {
    margin-left: 40rem;
    float: left; }
  .navigation__link-right1 {
    margin-right: 40rem; }
  .navigation__link-left2 {
    margin-left: 25rem;
    float: left; }
  .navigation__link-right2 {
    margin-right: 0rem;
    margin-left: 0; }
  .navigation__link-left3 {
    margin-left: 25rem;
    float: left; }
  .navigation__link-right3 {
    margin-right: 0rem;
    margin-left: 0; }
  .navigation__link-left4 {
    margin-left: 40rem;
    float: left; }
  .navigation__link-right4 {
    margin-right: 40rem; }
  .navigation__linkspan {
    margin-right: 1.5rem;
    display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #dec6b1;
    transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
  background-image: radial-gradient(#dec6b1, #dec6b1); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 3.2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #ffffff;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.contact {
  background-color: #dec6b1;
  color: #505050;
  grid-column: center-start / center-end;
  height: 100vh; }

.features {
  background-color: #707070;
  grid-column: center-start / center-end;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  grid-column-gap: 10rem;
  height: 50vw; }
  .features__card {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    color: #ffffff; }
  .features__img {
    width: 90%;
    display: flex; }
    .features__img-2way {
      width: 60%;
      padding-top: 20%;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(102deg) brightness(105%) contrast(103%); }
      .features__img-2way--small {
        width: 45%; }
    .features__img-3way {
      width: 40%;
      padding-top: 20%; }

.border-1 {
  background-color: #dec6b1; }

.border-2 {
  background-color: #707070; }

.border-3 {
  background-color: #707070; }

.border-4 {
  background-color: #707070; }

.border-5 {
  background-color: #dec6b1; }

.border-6 {
  background-color: #dec6b1; }

.border-7 {
  background-color: #707070; }

.border-8 {
  background-color: #707070; }

.border-9 {
  background-color: #ffffff; }

.border-10 {
  background-color: #ffffff; }

.border-11 {
  background-color: #dec6b1; }

.border-12 {
  background-color: #dec6b1; }

.welcome {
  background-image: linear-gradient(to right, #707070, #707070);
  -webkit-clip-path: polygon(55% 0, 105% 0, 105% 100%, 15% 100%);
  clip-path: polygon(55% 0, 105% 0, 105% 100%, 15% 100%);
  color: #ffffff;
  grid-column: col-start 2 / center-end;
  grid-row: 1 / 2;
  z-index: 1;
  display: grid;
  justify-content: end;
  align-content: center;
  text-align: center;
  padding-right: 17rem; }
  .welcome__background {
    grid-column: col-start 3 / center-end;
    grid-row: 1 / 2;
    background-color: #dec6b1;
    z-index: 0; }
  .welcome__title {
    margin-bottom: 5rem; }
  .welcome__text {
    width: 25vw;
    margin-bottom: 5rem; }
  .welcome__btn {
    width: 30rem;
    justify-self: center;
    margin-bottom: 5rem; }

.title {
  background-color: #dec6b1;
  color: #505050;
  grid-column: center-start / col-end 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .title__logo {
    width: 50%; }
  .title__headshot {
    width: 50%;
    border-radius: 50%;
    margin: 5rem 0; }

.process {
  background-color: #dec6b1;
  color: #505050;
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .process__heading {
    margin: 4rem 0;
    font-size: 7.5rem; }
  .process__grid {
    display: grid;
    grid-template-columns: repeat(9, [col-start] 1fr [col-end]);
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 10rem;
    margin-bottom: 5rem; }
  .process__card {
    display: grid;
    grid-template-columns: 10vw repeat(2, [col-start] min-content [col-end]);
    grid-template-rows: repeat(2, min-content);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem; }
    .process__card--1 {
      grid-column: 2 / 5;
      grid-row: 1 / 2; }
    .process__card--2 {
      grid-column: 6 / 8;
      grid-row: 1 / 2; }
    .process__card--3 {
      grid-column: 2 / 5;
      grid-row: 2 / 3; }
    .process__card--4 {
      grid-column: 6 / 8;
      grid-row: 2 / 3; }
    .process__card--5 {
      grid-column: 4 / 7;
      grid-row: 3 / 4; }
  .process__icon {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 3; }
  .process__number {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: end;
    font-size: 3rem; }
  .process__title {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: end;
    font-size: 6rem;
    margin-bottom: -1rem;
    padding-left: 4rem; }
  .process__text {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 20vw; }

.tech {
  background-color: #ffffff;
  color: #505050;
  grid-column: center-start / center-end;
  text-align: center; }
  .tech__heading {
    margin: 4rem 0;
    font-size: 7.5rem; }
  .tech__tech-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-column-gap: 3rem;
    grid-row-gap: 6rem;
    justify-items: center;
    align-items: center;
    padding-bottom: 5rem; }
  .tech__card {
    width: 11vw; }
    .tech__card--node {
      grid-column: 3 / 5; }
    .tech__card--mongodb {
      grid-column: 5 / 7; }
    .tech__card--sass {
      grid-column: 3 / 5; }
    .tech__card--aws {
      grid-column: 5 / 7; }
  .tech__img {
    width: 100%; }
    .tech__img--large {
      width: 175%;
      margin-left: -35%; }
  .tech__heading-secondary {
    font-size: 3rem; }

.work {
  background-color: #707070;
  color: #ffffff;
  grid-column: center-start / center-end;
  height: 100vh; }
  .work__heading {
    margin: 4rem 0;
    font-size: 7.5rem; }
