.border {
    
    
    &-1 {
        background-color: $color-primary;
    }

    &-2 {
        background-color: $color-secondary;

        @include respond(1080) {
            background-color: $color-primary;
        }
    }

    &-3 {
        background-color: $color-secondary;
    }

    &-4 {
        background-color: $color-secondary;
    }

    &-5 {
        background-color: $color-primary;
    }

    &-6 {
        background-color: $color-primary;
    }

    &-7 {
        background-color: $color-secondary;
    }

    &-8 {
        background-color: $color-secondary;
    }

    &-9 {
        background-color: $color-white-1;
    }

    &-10 {
        background-color: $color-white-1;
    }

    &-11 {
        background-color: $color-primary;
    }

    &-12 {
        background-color: $color-primary;
    }


}

.welcome {

    grid-column: col-start 2 / center-end;
    grid-row: 1 / 2;
    z-index: 1;

    


    background-image: linear-gradient(
        to right, 
        rgba($color-secondary, 1), 
        rgba($color-secondary, 1));
    -webkit-clip-path: polygon(55% 0, 105% 0, 105% 100%, 15% 100%);
    clip-path: polygon(55% 0, 105% 0, 105% 100%, 15% 101%);

    color: $color-white-1;

    
    
    display: grid;
    justify-content: end;
    align-content: center;
    text-align: center;
    padding-right: 17rem;

    @include respond(1080) {
        grid-column: center-start / center-end;
        grid-row: 2 / 3;
        background-image: none;
        justify-content: center;
        clip-path: none;
        margin-top: 3rem;
        padding-right: 0;
    }


    &__background {
        grid-column: col-start 3 / center-end;
        grid-row: 1 / 2;
        background-color: $color-primary;
        z-index: 0;

        @include respond(1080) {
            grid-column: borderl-start / borderr-end;
            grid-row: 2 / 3;
            background-color: $color-secondary;
        }
        
    }

    &__title {
        margin-bottom: 5rem;
    }

    &__text {
        width: 25vw;
        margin-bottom: 5rem;

        @include respond(1080) {
            width: 40vw;
        }

        @include respond(600) {
            width: 70vw;
        }
    }

    &__btn {
        width: 30rem;
        justify-self: center;
        margin-bottom: 5rem;
    }
}

.title {
    background-color: $color-primary;
    color: $color-secondary-dark;

    grid-column: center-start / col-end 2;
    grid-row: 1 / 2;

    @include respond(1080) {
        grid-column: center-start / center-end;
        grid-row: 1 / 2;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 39vw;
    width: auto;

    @include respond(1080) {
        height: max-content;
    }


    &__logo {
        width: 35%;
        text-align: center;
        @include respond(1080) {
            width: 40%;
        }
    }

    &__headshot {
        width: 35%;
        border-radius: 50%;
        margin-top: 5rem;
        margin-bottom: 5rem;

        @include respond(1080) {
            width: 35%;
            margin-bottom: 10rem;
        }

        &2 {
            align-self: center;
        }
        
    }

    &__webdev {
        
        @include respond(1080) {
            padding-top: 2rem;
        }
    }

   
}