.process {
    background-color: $color-primary;
    color: $color-secondary-dark;

    grid-column: center-start / center-end;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        margin: 4rem 0;
        font-size: 7.5rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(9, [col-start] 1fr [col-end]);
        grid-template-rows: repeat(3, min-content);

        grid-row-gap: 10rem;

        margin-bottom: 5rem;

        @include respond(1080) {
            display: flex;
            flex-direction: column;
        }
    }

    &__card {

        display: grid;
        grid-template-columns: 10vw repeat(2,[col-start] min-content [col-end]);
        grid-template-rows: repeat(2, min-content);

        grid-column-gap: 2rem;
        grid-row-gap: 2rem;

        &--1 {
            grid-column: 2 / 5;
            grid-row: 1 / 2;
        }

        &--2 {
            grid-column: 6 / 8;
            grid-row: 1 / 2;
        }

        &--3 {
            grid-column: 2 / 5;
            grid-row: 2 / 3;
        }

        &--4 {
            grid-column: 6 / 8;
            grid-row: 2 / 3;
        }

        &--5 {
            grid-column: 4 / 7;
            grid-row: 3 / 4;
        }


    }

    &__icon {
        width: 100%;

        grid-column: 1 / 2;
        grid-row: 1 / 3;
        
    }

    &__number {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        align-self: end;

    }

    &__title {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        align-self: end;

        
        margin-bottom: -1rem;
        padding-left: 4rem;

        @include respond(1080) {
            padding-left: 8rem;
        }
      
    }

    &__text {
        grid-column: 3 / 4;
        grid-row: 2 / 3;

        width: 20vw;

        @include respond(1080) {
            width: 40vw;
        }
    }
}