.work {
    background-color: $color-secondary;
    color: $color-white-1;
    
    grid-column: center-start / center-end;
    text-align: center;

    &__heading {
        margin: 4rem 0;
        font-size: 7.5rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: 55vw 25vw;
        text-align: justify;

        grid-row-gap: 5rem;
        grid-column-gap: 5rem;

        margin-bottom: 5rem;
    }

    &__text {

    }

    &__img {
        width: 100%;
    }

    &__title {

    }

    &__description {

    }

    &__link {
        transition: all 0.2s;
        color: $color-link;
        border-bottom: 1px solid $color-link;
        width: 17rem;

        &:hover {
            transform: translateX(2rem) scale(1.1);
            color: $color-white-1;
            border-bottom: 1px solid $color-white-1;
        }
    }

    
}