.work {
    background-color: $color-secondary;
    color: $color-white-1;
    
    grid-column: center-start / center-end;
    text-align: center;

    @include respond(1080) {
        display: flex;
        flex-direction: column;
    }

    &__heading {
        margin: 4rem 0;
        font-size: 7.5rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: 55vw 25vw;
        text-align: left;

        grid-row-gap: 5rem;
        grid-column-gap: 5rem;

        margin-bottom: 5rem;

        @include respond(1080) {
            display: flex;
            flex-direction: column;
        }
    }

    &__text {

    }

    &__img {
        width: 100%;

        &--quad {
            width: 50%;
            
            transition: all 0.5s;

            &--1 {
                &:hover {
                    transform: translateX(20rem) translateY(10rem) scale(1.7);  
                }  
            }

            &--2 {
                
                &:hover {
                    transform: translateX(-20rem) translateY(10rem) scale(1.7);  
                } 
            }

            &--3 {
                &:hover {
                    transform: translateX(20rem) translateY(-10rem) scale(1.7);  
                } 
            }

            &--4 {
                &:hover {
                    transform: translateX(-20rem) translateY(-10rem) scale(1.7);  
                } 
            }
        }
    }

    &__title {

    }

    &__description {

    }

    &__link {
        transition: all 0.2s;
        color: $color-link;
        border-bottom: 1px solid $color-link;
        width: 17rem;

        @include respond(1080) {
            width: 50vw;
        }

        &:hover {
            transform: translateX(2rem) scale(1.1);
            color: $color-white-1;
            border-bottom: 1px solid $color-white-1;
        }
    }

    
}