.btn {
    border: none;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: 200;
    font-size: 4rem;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all 0.2s;

    

    &__primary {
        background-color: $color-primary;
        color: $color-secondary-dark;

        &:hover {
            background-color: $color-secondary-dark;
            color: $color-primary;
        }
    }

    &__secondary {
        background-color: $color-secondary;
        color: $color-primary;

        &:hover {
            background-color: $color-secondary-dark;
            color: $color-primary;
        }
    }
}