@keyframes bigLogo {
    0% {
      transform: translate(-50%, -50%) scale(1, 1);
    }
  
    100% {
      transform: translate(-110%, -110%) scale(0.2, 0.2);
  
    }
  }
  
  
  @keyframes navVideo {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  

  @keyframes growScale {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes Spinner {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }