@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.margin-top-small {
	margin-top: 3rem !important;
}

.margin-top-medium {
	margin-top: 6rem !important;
}

.margin-top-large {
	margin-top: 12rem !important;
}