//Colours
$color-primary: #dec6b1;

$color-secondary: #707070;
$color-secondary-dark: #505050;

$color-white-1: #ffffff;

$color-black-1: #000000;

$color-link: #ff8922;


//Grid
$grid-width: 180rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;




  $shadow-1: 0 1.5rem 4rem rgba(black, 0.3);

  $default-font-size: 3rem;
